@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");

:root {
  --peach: hsl(11, 73%, 66%);
  --light-peach: hsl(11, 100%, 80%);
  --black: hsl(270, 3%, 11%);
  --dark-gray: hsl(264, 5%, 20%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(210, 17%, 95%);

  /* Typography */
  --font-family-sans: "Jost", sans-serif;

  /* Font Weights */
  --weight-regular: 400;
  --weight-semiBold: 500;
  --weight-bold: 600;

  /* Design elements */
  --transition: 300ms ease;
}

html,
body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  color: var(--black);
  background-color: var(--white);
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}
